<div class="login-div">
    <h1>
        App name
    </h1>
    <p>
        App description Lorem ipsum dolor sit <br> amet consectetur adipisicing elit. 
    </p>
    <br>
    <button>Login with Google</button>
</div>

<script>
    document.querySelector('button').addEventListener('click', function() {
        window.location.href = '/auth/';
    });
</script>