<div class="login-div">
    <img src="https://media.discordapp.net/attachments/931395342304424017/932706780750966804/unknown.png?width=496&height=513" alt="">
    <h1>
        OompaGG
    </h1>
    <p>
        Gamifying Chocolate Production
    </p>
    <br>
    <button>Login with Google</button>
</div>

<script>
    document.querySelector('button').addEventListener('click', function() {
        window.location.href = '/auth/';
    });
</script>