Title <%=task.title%><br>
Description <%=task.description%><br>
Type <%=task.typeOfTask%><br>
<% if (task.isAccepted){ %>
    <button type="button" class="btn btn-choose">
        Verify
    </button>
<% } else { %>
    <button type="button" class="btn btn-choose" onclick="chosen('<%=task._id%>')">
        Choose
    </button>
<% } %>

<script>
    function chosen(taskid){
        fetch(`http://localhost:3000/taskinfo/chosen?taskid=${taskid}`, {method: 'GET'})
        .then(() => {
            console.log('hello bhai')
            window.location.reload();
        }).catch((err) => console.log(err))
    }
</script>