@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Poppins-bold";
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

body{
    background-color: #6B4B3E;
    font-family: "Poppins", sans-serif;
}
.login-div{
    background-color: #fff;
    width: 45vw;
    height: 30vw;
    padding: 1.5vw;
    border-radius: 1vw;
    margin: auto;
    margin-top: 10vw;
    text-align: center;
}
.login-div h1{
    font-size: 5vw;
    letter-spacing: 1.5px;
    color: #01161E;
}
.login-div p{
    margin-top: -1.5vw;
    font-size: 1vw;
    color: #c2a67f;
    font-weight: 600;
    letter-spacing: 1px;
}
.login-div button{
    background-color: #c2a67f;
    border: none;
    border-radius: 1.5vw;
    color: #fff;
    font-size: 1.25vw;
    font-weight: 300;
    padding: 1vw;
    margin-top: 1vw;
    width: 17.5vw;
    cursor: pointer;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}
.login-div button:hover{
    background-color: #6B4B3E;
    transform: translateY(-5px);
}
@media screen and (max-width: 600px){
    body{
        padding-right: 5vw;
        padding-left: 5vw;
    }
    .leaderboard .title{
        text-align: center;
        padding-top: 3.5vw;
        color: #fff;
        font-family: "Poppins-bold", sans-serif;
        letter-spacing: 1px;
    }
    .leaderboard .leaderboard-content {
        padding-top: 3.5vw;
    }
    .leaderboard-content .leaderboard-table{
        width: 88vw;
        border-collapse: collapse;
        padding: 10px;
        color: #fff;
    }
    .leaderboard-table .header{
        font-size: 3.5vw;
        letter-spacing: 1px;
        font-weight:bold;
        background-color: #01161E;
    }
    .leaderboard-table .header th{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .leaderboard-table tr {
        text-align: center;
    }
    .leaderboard-table td{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .leaderboard-table tbody{
        font-weight: bolder;
        letter-spacing: 1px;
    }
    .leaderboard-table tbody tr:nth-child(even){
        background-color: #c2a67f;
        color: #000;
    }
    #search{
        border:none;
        background: transparent;
        color: #eee;
        font-size: 3vw;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        padding-left:10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50vw;
        margin-left: 2.5vw;
        border-bottom: 1px solid #eee;
    }
    #search::placeholder{
        color: #eee;
    }
    #search:focus{
        outline: none;
        width: 87.5%;
    }
    .back{
        text-decoration: none;
        font-size: 4vw;
        margin-left: 1.5vw;
        border-radius: 7.5px;
        transition: all 0.4s ease;
        cursor: pointer;
        font-size: 7.5vw;
        display: block;
        color: #01161E;
        font-weight: bolder;
    }
    .back:hover{
        transform: translateY(-5px);
        box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    }
    .profile-div{
        margin-top: 10vw;
    }
    .profile-div h1{
        text-align: center;
        font-weight: bolder;
        color: #EBC999;
        letter-spacing: 1px;
        font-family: 'Poppins-Bold', sans-serif;
    }
    .profile-div img{
        border-radius: 100%;
        display: block;
        margin: auto;
        width: 35vw;
        height: 35vw;
    }
    .profile-div .details{
        display: block;
        margin-left: 7.5vw;
        margin-top: 5vw;
        color: #eee;
        letter-spacing: 1px;
    }
    .profile-div .details span{
        font-weight: bold;
    }
    .profile-div a{
        text-decoration: none;
        text-align: center;
        color: #eee;
        font-size: 4vw;
        letter-spacing: 1px;
        background: #01161E;
        padding:2vw;
        padding-left: 5vw;
        padding-right: 5.5vw;
        display: block;
        margin: auto;
        width: fit-content;
        border-radius: 7.5px;
        transition: all 0.4s ease;
        cursor: pointer;
    }
    .profile-div a:hover{
        transform: translateY(-5px);
        box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
    }
    .login-div{
        height: 65vh;
        margin-top: 30%;
        width: 95%;
        background: #FEF3E4;
        border-radius: 10px;
    }
    .login-div h1{
        font-size:12.5vw;
        margin-top:6.5vw;
        font-family: "Poppins-Bold", sans-serif;
    }
    .login-div p{
        margin-top: -7.5vw;
        color: #6B4B3E;
        font-size: 2.75vw;
    }
    .login-div button{
        margin-top:-7.5vw;
        width: 45vw;
        border-radius: 10px;
        font-size: 3.5vw;
        background: #6B4B3E;
        color: #fff ;
        letter-spacing: 1px;
        padding:15px;
    }
    .caterpillar-card{
        background-color: #fff ;
        width: 28vw;
        margin-top: 5vw;
        height: 12.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        border-radius: 7.5px;
        color: #01161E;
        display: flex;
    }
    .caterpillar-card span{
        margin-top: 1.5vw;
        display: flex;
        width: 20vw;
    }
    .caterpillar-card img{
        width: 10vw;
        height: 10vw;
        margin-top: -0.2vw;
        margin-left: .75vw;
    }
    .caterpillar-card span p{
        margin-top: 0.5vw;
        font-size: 5.5vw;
    }
    .login-div img{
        width: 35vw;
        height: 35vw;
        margin-top: 15vw;
        margin-left: -2.5vw;
    }
}
    
/*---------------------------------dashboard---------------------------------*/

#tasks_h2 {
    color: #FEF3E4;
    font-size: 20px;
    font-family: 'Poppins-bold';
    margin-left: 15px;
    margin-top: 30px;
}

.dash_head_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    text-align: center
}

#tasks_heading {
    text-align: center;
    color: #EBC999;
    font-family: 'Poppins-bold';
    flex: 1
}

.dash_head_flex > div > a > i {
    color: #01161e;
    font-size: 30px;
    margin: 20px
}

.dash_flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.dash_flex > div {
    background-color: #01161e;
    border-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    padding: 20px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.dash_flex :hover {
    transform: scale(1.005);
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
}

.dash_flex > div > div {
    color: #f1e0c5
}

.task_title {
    float: left
}

.task_type {
    float: right;
}

a {
    text-decoration: none;
}

/*---------------------------------task-details---------------------------------*/

#details_heading {
    text-align: center;
    color: #01161e;
    font-family: 'Poppins-bold';
}

#details_title {
    color: #6B4B3E;
    font-weight: bold;
    text-align: left;
    font-size: 5.5vw;
    margin-left: 1.5vw;
}

#details_flex {
    /* display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center; */
    padding-left: 10px;
    padding-right: 10px;
}
#details_thumb{
    display: flex;
}
#details_type {
    margin-left: 1.5vw;
    border-radius: 3px;
    padding-left: 7.5px;
    padding-top: 2.5px;
    padding-right: 7.5px;
    font-size: 3.25vw;
    display: block;
    line-height: normal;
    text-align: center;
    align-items: center;
    color: #01161E;
    font-weight: bold;
    border: 2px solid #EBC999;
    background-color: #EBC999;
    width: 19.5vw;
    text-align: center;
    height: 7.5vw;
    margin-top: 2.5vw;
    border-radius: 5px;
}

#details_type > div {
    vertical-align: middle;
    justify-content: center;
    margin-top: 3.5px;
}

#task_description {
    line-height:1.4;
    font-size: 4vw;
    max-height: 15vw;
    margin-top: 5vw;
    margin-left: 5vw;
    text-align: left;
    color: #01161E;
}
.btn-choose {
    display: block;
    margin: auto;
    margin-top: 5vw !important;
    background: #EBC999;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #01161E;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.modal-div{
    height: 105%;
    width: 105%;
    background-color: rgba(0,0,0,0.75);
    margin-top: -35vh;
    z-index: 5;
    position: absolute;
    margin-left: -10vw;
    display: none;
}
.snap-div{
    background-color: transparent;
    width: 55vw;
    height: 35vw;
    margin: auto;
    margin-top: 7.5vw;
    padding: 10px;
    border-radius: 10px;
}
.snap-div video{
    margin-left: -20vw !important;
    margin-top: -30vw !important;
    margin: auto;
    display: block;
}
.snap-div #snap{
    position: absolute;
    margin-top: -20vw;
    border: none;
    font-size: 5vw;
    margin-left: 5vw;
    font-family: 'Poppins', sans-serif;
    width: 45vw;
    height: 8vh;
    background: #01161E;
    color: #eee;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.4s ease;
}
#snap:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
}
.modal-close{
    position: absolute;
    cursor: pointer;
    font-size: 2.5vw;
    color: #6B4B3E;
}