<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .material-icons-outlined{
            font-family: 'Material Icons', sans-serif;
        }
        #photo,#chocolates,#address{
            display: none;
        }
        body{
            margin: 0;
        }
    </style>
    <script src="/js/color-thief.js"></script>
</head>
<body>
    <div class="admin-nav">
        <img src="https://media.discordapp.net/attachments/931395342304424017/932706780750966804/unknown.png?width=496&height=513" alt="">
        <h1>
            OompaGG
        </h1>
        <ul><li><a href="/admin/leaderboard">Leaderboard</a></li>
            <li><a href="/admin/">Home</a></li>
            
        </ul>
    </div>
    <div class="task-div">
        <h1>
            Add Tasks
        </h1>
        <div class="task-form">
            <form action="/tasks" method="post" >
                <div class="form-flex">
                    <div class="form-gp">
                        <label for="">Task Name</label> <br>
                        <input type="text" name="title" placeholder="Title">
                    </div>
                    <div class="form-gp-1">
                        <label for="tasks">Type of task:</label> <br>
                        <select id="tasks" name="typeOfTask" oninput="changeForm()">
                            <option value="none">Select type</option>
                            <option value="sourcing">Sourcing</option>
                            <option value="manufacturing">Manufacturing</option>
                            <option value="transporting">Transporting</option>
                        </select>
                    </div>
                </div>
                <div class="form-textarea">
                    <label for="">Task Description</label>
                     <br>
                    <textarea type="text" cols="5" rows="4" name="description" placeholder="Description"></textarea>
                </div>
                <div class="option-div">
                    <button id="photo" type="button" onclick="snap()">Take Picture</button>
                    <input type="text" name="photo" id="photoInput" hidden>
                    <input type="number" name="chocolates" id="chocolates" placeholder="Weight of chocolates">
                    <input type="text" name="address" id="address" placeholder="Address">
                </div>
                <input type="submit" value="Add task" class="submit">
            </form>
        </div>
        
    </div>
    <div class="modal-div">
        <div class="snap-div">
            <div class="modal-close">
                <span class="material-icons-outlined">
                    close
                </span>
            </div>
            <video id="video" width="360" height="720" autoplay></video>
            <canvas id="canvas" width="360" height="720" hidden></canvas>
            <button id="snap">Snap Photo</button>
        </div>
    </div>

    <script>
        var input = document.getElementById('tasks');
        var photo = document.getElementById('photo');
        var chocolates = document.getElementById('chocolates');
        var photoInput = document.getElementById('photoInput');
        var address = document.getElementById('address');
        var video = document.getElementById('video');
        var snapBtn = document.getElementById('snap');

        function changeForm(){
            if(input.value == 'sourcing'){
                address.style.display = 'none';
                chocolates.style.display = 'none';
                photo.style.display = 'block'; 
            }else if(input.value == 'manufacturing'){
                address.style.display = 'none';
                chocolates.style.display = 'block';
                photo.style.display = 'none';
                video.style.display = 'none'
                snapBtn.style.display = 'none'
            }else if(input.value == 'transporting'){
                address.style.display = 'block';
                chocolates.style.display = 'none';
                photo.style.display = 'none';
                video.style.display = 'none'
                snapBtn.style.display = 'none'
            }else{
                address.style.display = 'none';
                chocolates.style.display = 'none';
                photo.style.display = 'none';
                video.style.display = 'none'
                snapBtn.style.display = 'none'
            }
        }
        photo.addEventListener('click',()=>{
            document.querySelector('.modal-div').style.display = 'block';
        })
        document.querySelector('.modal-close').addEventListener('click',()=>{
            document.querySelector('.modal-div').style.display = 'none';
        })
        snapBtn.addEventListener('click',()=>{
            document.querySelector('.modal-div').style.display = 'none';
        })
        function snap(){
            video.style.display = 'block'
            snapBtn.style.display = 'block'
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: {facingMode: 'user'}})
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
            }

            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');

            snapBtn.addEventListener("click", async function() {
                context.drawImage(video, 0, 0, 360, 720);
                const colorThief = new ColorThief();
                const img = document.createElement('img');
                const b64str = canvas.toDataURL('image/jpeg')
                console.log(b64str);
                await new Promise((r) => {
                    img.src = b64str;
                    img.onload = r;
                })
                const rgba = colorThief.getColor(img, 5);
                function rgbToHex(r, g, b) {
                    return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
                }
                if (!rgba) {
                    photoInput.value = 0;
                } else {
                    photoInput.value = rgba[0]
                }
                console.log(photoInput.value);
                video.style.display = 'none'
                snapBtn.style.display = 'none'
            });
        }

    </script>
</body>
</html>
