<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script src="https://apis.mapmyindia.com/advancedmaps/v1/aa6ca1e6c399bc880ca03d0e1c03b197/map_load?v=2.1"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    #map {
        height: 90vh;
        width: 65%;
        margin-top: 2.5vw;
        margin-left: 32.5vw;
        border-radius: 10px;
    }
</style>
<script>
    var map = null;
    var marker = [];
    let users = [];
    let currentPosition = [];
    let currentMarkerLocation = [];

    function getUsers() {
        fetch('/admin/users', {
            method: 'GET',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
        })
        .then(async (res) => {
            const resp = await res.json()
            users = resp.users;
            navigator.geolocation.getCurrentPosition(showPosition);
        })
    }

    function showPosition(position) {
        currentPosition = [position.coords.latitude, position.coords.longitude];
        console.log(currentPosition);
        map = new MapmyIndia.Map('map', {
            center: currentPosition,
            zoomControl: true,
            hybrid: true
        });
    
        function mapmyindia_fit_markers_into_bound(position) {
            var maxlat = position.lat;
            var maxlon = position.lng;
            var minlat = position.lat;
            var minlon = position.lng;
            var southWest = L.latLng(maxlat, maxlon);
            var northEast = L.latLng(minlat, minlon);
            var bounds = L.latLngBounds(southWest, northEast);
            map.fitBounds(bounds);
        }
    
        function addMarker(position, icon, title, draggable, name) {
            if (icon == '') {
                var mk = new L.Marker(position, {
                    draggable: draggable,
                    title: name
                });
            } else {
                var mk = new L.Marker(position, {
                    icon: icon,
                    draggable: draggable,
                    title: name
                });
            }
            map.addLayer(mk);
            mk.on("click", async function(e) {
                mapmyindia_fit_markers_into_bound(position);
                currentMarkerLocation = [position.lat, position.lng];
                window.open(`/admin/employee/${title}`)
            });
            return mk;
        }

    
        function markCurrentLocation() {
            var icon = L.icon({
                iconUrl: 'https://media.discordapp.net/attachments/872743735388172318/929084635126857768/unknown.png',
                iconRetinaUrl: 'https://media.discordapp.net/attachments/872743735388172318/929084635126857768/unknown.png',
                iconSize: [30, 30],
                popupAnchor: [-3, -15]
            });
            var position = new L.LatLng(currentPosition[0], currentPosition[1]);
            var mk = addMarker(currentPosition, icon, 'Current Location', false);
        }
    
        function loadAllUsers() {
            var icon = L.icon({
                iconUrl: 'https://cdn.discordapp.com/attachments/931395342304424017/932706780331540480/svgviewer-png-output.png',
                iconRetinaUrl: 'https://cdn.discordapp.com/attachments/931395342304424017/932706780331540480/svgviewer-png-output.png',
                iconSize: [45, 45],
                popupAnchor: [-3, -15]
            });
            for (let i = 0; i < users.length; i++) {
                var position = new L.LatLng(users[i].last_known_location[0], users[i].last_known_location[1]);
                console.log(position)
                marker.push(addMarker(position, icon, users[i]._id, false, users[i].name));
            }
        }
        // markCurrentLocation();
        loadAllUsers();
    }

    getUsers()
</script>
<body>
    <div class="admin-nav">
        <img src="https://media.discordapp.net/attachments/931395342304424017/932706780750966804/unknown.png?width=496&height=513" alt="">
        <h1>
            OompaGG
        </h1>
        <ul>
            <li><a href="/admin/leaderboard">Leaderboard</a></li>
            <li><a href="/admin/add">Add Task</a></li>
        </ul>
    </div>
    <div id="map"></div>
</body>
</html>